@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad Flux", sans-serif;
}
body{
    background-color: rgb(249,229,205);
}


img {
    animation: dance 3s;
}

@keyframes dance {
    0% {
        transform: rotateZ(20deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(20deg);
    }
}
