@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad Flux", sans-serif;
}
body{
    background-color: rgb(249,229,205);
}


img {
    animation: dance 3s;
}

@keyframes dance {
    0% {
        transform: rotateZ(20deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(20deg);
    }
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #652a01;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    
    }
  
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    /* Shake effect */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  /* Scale effect */
  .scale {
    transform: scale(1); /* Scale up the element */
    transition: transform 0.3s ease-in-out;
  }
  
  /* Shake effect */
  .shake {
    animation: shake 0.5s; /* Apply the shake effect */
  }
  
  /* Correct answer styling */
  .bg-green-600 {
    background-color: #16a34a; /* Green background */
    color: white;
  }
  